/B_Aufgabe_2_Mitarbeiter/Mitarbeiter/nbproject/private/
/B_Aufgabe_2_Mitarbeiter/Mitarbeiter/build/
/B_Aufgabe_2_Mitarbeiter/Operatoren/nbproject/private/
/C_Aufgabe_3_Operatoren/Operatoren/nbproject/private/
/D_Aufgabe_4_StringTokenizer/StringTokenizer/nbproject/private/
/E_Aufgabe_5_TestParser/Parser/nbproject/private/
/F_Aufgabe_6_Carsharing/Carsharing/nbproject/private/
/G_Aufgabe_7_Parser/ParserVollstaendig/nbproject/private/
/H_Aufgabe_8_InputStream-Vergleicher/Inputstream-Vergleicher/nbproject/private/
/I_Aufgabe_9_Textfinder/Textfinder/nbproject/private/
/J_Aufgabe_10_Textvergleicher/Textvergleicher/nbproject/private/
/K_Aufgabe_11_Textverarbeiter/Textverarbeiter/nbproject/private/
/K_Aufgabe_11_Textverarbeiter/Textverarbeiter/build/
